Backend/Database/dhis2.sqlite filter=lfs diff=lfs merge=lfs -text
Backend/android_runtime/models/llama-3-sqlcoder-8b-Q4_K_M.gguf filter=lfs diff=lfs merge=lfs -text
pocketflow-text2sql/*.sqlite filter=lfs diff=lfs merge=lfs -text
pocketflow-text2sql/*.db filter=lfs diff=lfs merge=lfs -text
pocketflow-text2sql/*.gguf filter=lfs diff=lfs merge=lfs -text
